apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-rocks
  labels:
    app: go-rocks
spec:
  selector:
    matchLabels:
      app: go-rocks
  replicas: 3
  template:
    metadata:
      labels:
        app: go-rocks
    spec:
      containers:
        - name: go-rocks
          image: renatoneto/go-rocks:latest
          ports:
            - containerPort: 8000